<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <title>Post Page Quotes</title>
  </head>
  <body>
    <body>
        <div id="container">
         <h4>Posts by </h4>

           <div id="container">
             <p><a href="/success">Dashboard</a></p>
             <p><a href="/">Logout</a></p>
             <h4>Posts By: {{session['']}}</h4>

             <p>Count: </p>

             <p></p>
             <p></p>

           </div>
  </body>
  </html>
